In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\a k sharma\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a k sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

In [6]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[2]/label/i')
location.click()

In [8]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/i')
salary.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
f_t=title_tags[0:10]
for i in f_t:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
f_l=location_tags[0:10]
for i in f_l:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
f_c=company_tags[0:10]
for i in f_c:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
f_e=experience_tags[0:10]
for i in f_e:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Mumbai,P S International HR Consultants,0-4 Yrs
1,Data Analyst,Gurgaon,DecisionTree Analytics and Services Private Li...,1-3 Yrs
2,Data Analyst,banda,Rochem Separation Systems,2-3 Yrs
3,Data Analyst (ETL Tools),Pune,Alpha Analytics Services,2-4 Yrs
4,Data Analyst,Chennai,CONTUS TECH,5-10 Yrs
5,Data Analyst,Mangalore,Diya Systems (Mangalore) Pvt. Ltd.,4-9 Yrs
6,DATA ANALYST,Mumbai,Blocklogy Edutech,1-3 Yrs
7,Data Analyst,Chennai,Diverse Lynx,1-5 Yrs
8,Senior Lead Business Intelligence Analyst - Da...,Bengaluru,Alp Consulting Ltd,5-8 Yrs
9,Executive QA- Data Analyst,Mumbai (All Areas),Parle,2-5 Yrs

2.

In [13]:
driver.get("https://www.shine.com/")

In [15]:
enter=driver.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/input')
enter.click()

In [16]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')

In [17]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [20]:
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/p/a')
f_t=title_tags[0:10]
for i in f_t:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
f_l=location_tags[0:10]
for i in f_l:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
f_c=company_tags[0:10]
for i in f_c:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
f_e=experience_tags[0:10]
for i in f_e:
    experience=i.text
    experience_required.append(experience)

In [21]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [22]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
3,Data Analyst,Bangalore,phoenix global re settlement servic...,3 to 8 Yrs
4,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
5,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
6,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
9,Data Analyst,Bangalore,ltimindtree limited,5 to 10 Yrs

3.

In [26]:
pip install selenium

Requirement already satisfied: selenium in c:\users\a k sharma\anaconda3\lib\site-packages (4.21.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: urllib3<3,>=1.26 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a k sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [28]:
driver=webdriver.Chrome()

In [29]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [30]:
rating=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
rating[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.562")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.623")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.685")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.815")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.876")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52ad769e4012ee6067b6b4a4f488427c", element="f.47F668EC16AA47AE309D1084E5ED37EA.d.FFC5579573911155910196EBA0CB1A95.e.938")>]

In [32]:
for i in rating[0:10]:
    print(i.text)

5
5
5
5
5
5
5
5
5
5

In [43]:
ra_l=[]
re_su_l=[]
re_l=[]

In [45]:
start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in ratings:
        ra_l.append(i.text)

    review_summary=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in review_summary:
        re_su_l.append(i.text)

    review=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]/div/div')
    for i in review:
        re_l.append(i.text)

next_button=driver.find_element(By.XPATH,'//nav[@class="WSL9JP"]/a[11]')
next_button.click()
time.sleep(3)

In [46]:
print(len(ra_l),len(re_su_l),len(re_l))

200 200 200

In [47]:
ra_l = ra_l[0:100]
re_su_l = re_su_l[0:100]
re_l = re_l[0:100]

In [48]:
df=pd.DataFrame({'Rating':ra_l,'Review_Summary':re_su_l,'Full_Review':re_l})
df

,Rating,Review_Summary,Full_Review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Just wow!,Perfect Product!!
...,...,...,...
95,5,Perfect product!,Photos super
96,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
97,5,Must buy!,It’s really awesome
98,5,Fabulous!,It’s very good battery life and display and vi...
99,5,Terrific purchase,Value for money 😍

4.

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\a k sharma\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a k sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome()

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
enter=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
enter.send_keys('sneakers')

In [7]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [12]:
b_l=[]
p_d_l=[]
p_l=[]

In [13]:
brand=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
br=brand[0:40]
for i in br:
    brands=i.text
    b_l.append(brands)

product_descriptions = driver.find_elements(By.XPATH, '//a[@class="WKTcLC" or @class="WKTcLC BwBZTg"]')
pd=product_descriptions[0:40]
for i in pd:
    productd=i.text
    p_d_l.append(productd)

price=driver.find_elements(By.XPATH,'//div[@class="hl05eU"]/div[1]')
pr=price[0:40]
for i in pr:
    prices=i.text
    p_l.append(prices)

In [14]:
print(len(b_l),len(p_d_l),len(p_l))

40 40 40

In [15]:
print (b_l,p_d_l,p_l)

['BRUTON', 'URBANBOX', 'PUMA', 'Deals4you', 'aadi', 'bacca bucci', 'BRUTON', 'BRUTON', 'Abros', 'aadi', 'BRUTON', 'BRUTON', 'U.S. POLO ASSN.', 'PM TRADERS', 'URBANBOX', 'ATOM', 'BRUTON', 'BRUTON', 'RapidBox', 'asian', 'BRUTON', 'aadi', 'aadi', 'aadi', 'asian', 'asian', 'BRUTON', 'BRUTON', 'PM TRADERS', 'PUMA', 'BRUTON', 'BRUTON', 'VENDOZ', 'VENDOZ', 'PM TRADERS', 'asian', 'BRUTON', 'BRUTON', 'HRX by Hrithik Roshan', 'Red Tape'] ['Modern Trendy Shoes Sneakers For Men', 'Trending Stylish Casual Outdoor Shoes Sneakers For Men', 'Cliff IDP Sneakers For Men', 'Sneakers For Women', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'OG TerraForge Low-Top Series: Bold Street-Ready Sneaker...', 'Modern Trendy Sneakers For Men', 'Exclusive Sneaker Shoes Sneakers For Men', 'LEXUS Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Lite Casual Shoes Sneakers For Men', 'CLARKIN Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'Trending Stylish Casual Outdoor Shoes Sneakers For Men', 'Spring Edge Alpha 2 Sneakers For Men', 'Sneaker Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'Sneakers For Men', 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...', 'Modern Trendy Shoes Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Sneakers For Men', 'Flat Sole Sneakers Shoes for all Day wear with Memory C...', 'Casual Sneakers Shoes For Men Mexico-11 Sneakers For Me...', 'Trendy & Stylish Casual Shoes Sneakers For Men', 'Trendy & Stylish Casual Shoes Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'Puma Shuffle Ultra Sneakers For Men', 'Combo Pack Of 4 Casual Loafer Shoes Sneakers For Men', 'Trendy & Stylish Sneakers Shoes Sneakers For Men', 'Casual Stylish Trending Sneakers For Women', 'Sneakers For Women', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'Casual Sneakers Shoes For Men Mexico-11 Sneakers For Me...', 'Trendy & Stylish Casual Shoes Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'URBAN CHUNKY Sneakers For Men', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...'] ['₹297', '₹449', '₹1,047', '₹399', '₹299', '₹1,699', '₹297', '₹297', '₹949', '₹439', '₹297', '₹499', '₹1,249', '₹1,039', '₹449', '₹1,139', '₹297', '₹297', '₹795', '₹777', '₹297', '₹299', '₹299', '₹425', '₹777', '₹749', '₹449', '₹297', '₹1,039', '₹1,699', '₹599', '₹297', '₹629', '₹599', '₹1,039', '₹749', '₹498', '₹297', '₹814', '₹1,029']

In [17]:
import pandas as pd

In [18]:
df=pd.DataFrame({'Brands':b_l,'Product_Description':p_d_l,'Prices':p_l})
df

,Brands,Product_Description,Prices
0,BRUTON,Modern Trendy Shoes Sneakers For Men,₹297
1,URBANBOX,Trending Stylish Casual Outdoor Shoes Sneakers...,₹449
2,PUMA,Cliff IDP Sneakers For Men,"₹1,047"
3,Deals4you,Sneakers For Women,₹399
4,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹299
5,bacca bucci,OG TerraForge Low-Top Series: Bold Street-Read...,"₹1,699"
6,BRUTON,Modern Trendy Sneakers For Men,₹297
7,BRUTON,Exclusive Sneaker Shoes Sneakers For Men,₹297
8,Abros,LEXUS Sneakers For Men,₹949
9,aadi,Sneakers For Men,₹439
10,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹297
11,BRUTON,Lite Casual Shoes Sneakers For Men,₹499
12,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,249"
13,PM TRADERS,Mesh| Lightweight| Premiun| Comfort| Summer Te...,"₹1,039"
14,URBANBOX,Trending Stylish Casual Outdoor Shoes Sneakers...,₹449
15,ATOM,Spring Edge Alpha 2 Sneakers For Men,"₹1,139"
16,BRUTON,Sneaker Sneakers For Men,₹297
17,BRUTON,Modern Trendy Shoes Sneakers For Men,₹297
18,RapidBox,Sneakers For Men,₹795
19,asian,Sneaker Casual Shoes For Men | Soft Cushion In...,₹777
20,BRUTON,Modern Trendy Shoes Sneakers For Men,₹297
21,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹299
22,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹299
23,aadi,Sneakers For Men,₹425
24,asian,Flat Sole Sneakers Shoes for all Day wear with...,₹777
25,asian,Casual Sneakers Shoes For Men Mexico-11 Sneake...,₹749
26,BRUTON,Trendy & Stylish Casual Shoes Sneakers For Men,₹449
27,BRUTON,Trendy & Stylish Casual Shoes Sneakers For Men,₹297
28,PM TRADERS,Mesh| Lightweight| Premiun| Comfort| Summer Te...,"₹1,039"
29,PUMA,Puma Shuffle Ultra Sneakers For Men,"₹1,699"
30,BRUTON,Combo Pack Of 4 Casual Loafer Shoes Sneakers F...,₹599
31,BRUTON,Trendy & Stylish Sneakers Shoes Sneakers For Men,₹297
32,VENDOZ,Casual Stylish Trending Sneakers For Women,₹629
33,VENDOZ,Sneakers For Women,₹599
34,PM TRADERS,Mesh| Lightweight| Premiun| Comfort| Summer Te...,"₹1,039"
35,asian,Casual Sneakers Shoes For Men Mexico-11 Sneake...,₹749
36,BRUTON,Trendy & Stylish Casual Shoes Sneakers For Men,₹498
37,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹297
38,HRX by Hrithik Roshan,URBAN CHUNKY Sneakers For Men,₹814
39,Red Tape,Sneaker Casual Shoes for Men | Soft Cushioned ...,"₹1,029"

5.

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\a k sharma\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a k sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.amazon.in/")

In [5]:
enter=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
enter.send_keys('Laptop')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [9]:
filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[6]/ul[2]/span/span[10]/li/span/a/div/label/i')
filter.click()

In [15]:
tl=[]
rl=[]
pl=[]

In [16]:
titles=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
t=titles[0:10]
for i in t:
    title=i.text
    tl.append(title)

ratings=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
r=ratings[0:10]
for i in r:
    rating=i.text
    rl.append(rating)

prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
p=prices[0:10]
for i in p:
    price=i.text
    pl.append(price)

In [17]:
print(len(tl),len(rl),len(pl))

10 10 10

In [18]:
df=pd.DataFrame({'Title':tl,'Rating':rl,'Price':pl})
df

                                               Title Rating   Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...         47,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...         65,490
2  Lenovo IdeaPad 3 Intel Core i7 12th Gen 1255U ...         62,009
3  Chuwi HeroBook Pro 14.1'' Intel Celeron N4020 ...         16,990
4  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...         64,990
5  Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16"...         84,190
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...         78,850
7  Dell [Smartchoice Inspiron 5430 Thin & Light L...         80,490
8  HP Pavilion 14, 11th Gen Intel Core i7-1195G7,...         66,990
9  Dell Inspiron 3530 Laptop, 13th Generation Int...         70,149

6.

In [19]:
pip install selenium

Requirement already satisfied: selenium in c:\users\a k sharma\anaconda3\lib\site-packages (4.21.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: urllib3<3,>=1.26 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\a k sharma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a k sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a k sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a k sharma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [23]:
driver=webdriver.Chrome()

In [24]:
driver.get("https://www.azquotes.com/")

In [25]:
topquotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
topquotes.click()

In [32]:
ql=[]
al=[]
toql=[]

In [33]:
start=0
end=10
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//div[@class="wrap-block"]/p/a[2]')
    for i in quotes:
        ql.append(i.text)

    authors=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
    for i in authors:
        al.append(i.text)

    type_of_quotes=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]/div/div')
    for i in type_of_quotes:
        toql.append(i.text)

next_button=driver.find_element(By.XPATH,'//div[@class="tags"]/a[1]')
next_button.click()
time.sleep(3)

In [34]:
print(len(ql),len(al),len(toql))

1000 1000 0

In [36]:
df=pd.DataFrame({'Quote':ql,'Author':al})
df

                                                 Quote                Author
0    The essence of strategy is choosing what not t...        Michael Porter
1    One cannot and must not try to erase the past ...            Golda Meir
2    Patriotism means to stand by the country. It d...    Theodore Roosevelt
3    Death is something inevitable. When a man has ...        Nelson Mandela
4    You have to love a nation that celebrates its ...          Erma Bombeck
..                                                 ...                   ...
995     When the going gets weird, the weird turn pro.    Hunter S. Thompson
996  When a train goes through a tunnel and it gets...       Corrie Ten Boom
997  If you think you are too small to make a diffe...            Dalai Lama
998  God doesn't require us to succeed, he only req...         Mother Teresa
999    Change your thoughts and you change your world.  Norman Vincent Peale

[1000 rows x 2 columns]